@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

:root {
  --primary-color: #DB3E38;
  --secondary-color: #1B1818;
  --ff-body: 'Montserrat', sans-serif;
  --ff-heading: 'Roboto Slab', serif;
  --fs-xl: clamp(2.5rem, 7vw + 1rem, 6rem);
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --slides: 6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  overflow-x: hidden;
  min-width: 14rem;
  /* background-color: #000; */
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
  color: var(--secondary-color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.wrapper {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.container {
  height: 100vh;
  width: 95vw;
  scroll-snap-align: start;
  margin: 0 auto;
}

section {
  height: 80vh;
}

h1.section-title {
  margin-bottom: 0.5rem;
  font-size: var(--fs-600);
  text-transform: uppercase;
  width: fit-content;
  border-bottom: 2px solid var(--primary-color);
}

.sub-title {
  font-size: 0.9rem;
  color: #4a4a4a;
  margin-bottom: 1rem;
}

.note {
  font-size: 0.7rem;
  color: #4a4a4a;
  margin-top: 0.5rem;
}

/********** Vertical Slider **********/
#vertical-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.left-slide,
.right-slide {
  width: 50%;
}

.left-slide {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.left-slide>div {
  height: 100%;
}

.slide-content {
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding-inline: 1rem;
}

.slide-content h2 {
  font-size: var(--fs-500);
  color: #fff;
}

.slide-content p {
  font-size: 0.9rem;
}

.right-slide {
  height: 100%;
  transform: translateY(calc(calc(var(--slides) - 1) * (-80vh)));
  transition: transform 500ms ease-in-out;
}

.right-slide>div {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider-buttons button {
  width: 100%;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border: none;
  font-size: 1rem;
  opacity: 0;
  cursor: pointer;
  z-index: 1000;
}

#slide-up,
#slide-down {
  width: 50%;
}

.slider-buttons button:hover {
  color: var(--secondary-color);
  opacity: 0.2;
}

#slide-up {
  right: 0;
}

#slide-down {
  left: 0;
}

.slider-buttons button:hover {
  color: var(--secondary-color);
}

/********** Hoverboard **********/
#hoverboard {
  justify-content: center;
  align-items: center;
  background-color: #000;
}

#hoverboard .board {
  max-width: 600px;
  max-height: 85%;
  padding-inline: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  overflow: hidden;
}

.square {
  width: 1rem;
  aspect-ratio: 1;
  background-color: #1d1d1d;
  transition: 2s ease;
  box-shadow: 0 0 2px #000;
}

.square:hover {
  transition-duration: 0s;
}

/********** Digital Clock **********/
#digital-clock {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.circle-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circles {
  width: 100px;
  height: 150px;
}

/*************** Larger than mobile ***************/
@media (min-width: 35em) {
  h1.section-title {
    font-size: var(--fs-600);
  }

  .sub-title {
    font-size: 1rem;
  }

  /********** Vertical Slider **********/
  .left-slide {
    width: 35%;
  }

  .right-slide {
    width: 65%;
  }

  #slide-down {
    width: 35%;
  }

  #slide-up {
    width: 65%;
  }

  /********** Digital Clock **********/
  #digital-clock {
    flex-direction: row;
  }  
}

/*************** Tablet ***************/
@media (min-width: 35em) and (max-width: 55em) {
  :root {
    --fs-600: 2.5rem;
    --fs-500: 1.3rem;
    --fs-400: 1.1rem;
  }

  /********** Digital Clock **********/
  .circles {
    width: 150px;
    height: 200px;
  }
}

/*************** Desktop ***************/
@media (min-width: 55em) {
  :root {
    --fs-600: 3rem;
    --fs-500: 1.5rem;
    --fs-400: 1.125rem;
  }

  /********** Vertical Slider **********/
  .slide-content p {
    font-size: var(--fs-500);
  }

  .slider-buttons button {
    padding: 1rem;
  }

  /********** Digital Clock **********/
  #digital-clock {
    justify-content: space-around;
  }

  .circles {
    width: 300px;
    height: 350px;
  }
}